.outline {
    margin: 0 auto;
    width: 600px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    //background: aqua;
    border-radius: 10px;
    //border: 2px solid darkslategray;
    
    .MainBody{
        float: left;
        width: 130px;
        height: 40px;
        margin: auto;
        margin-top: 20px;
        margin-left: 10px;
        //position: absolute;
        //left: 46%;
        //transform: translate(-50%,-50%);
        //background-color: rgb(30, 160, 62);
    }
    
    .clear{
        display: block;
        overflow: hidden;
    }
}